.yogabox{
    background-color: rgba(176, 213, 176, 0.767);
}
.list{
    margin: 20px;
    padding: 20px;

}
.card{
    border-radius: 15px;
  
}
.head {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #333;
    font-family: 'Lemon', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
  }
.sec2{
    background-color: rgba(193, 193, 155, 0.474);
}