.clean{
    margin-bottom: 10px;
}
.boxing{
    /* display: inline-block; */
    width: 50%;
    margin-top: 10px;
    /* margin-left: 10px; */
    background-color: #A3D3FF;
    /* Picture/Big */
}
@media (max-width: 518px) {
    .remove {
        display:none;
    }
}
.about_us{
    background-color: #A3D3FF;
}
.services{
    background-color: #A3D3FF;
}