.boxing{
    /* display: inline-block; */
    width: 50%;
    /* place-self: end; */
    /* right: 0%; */
    /* position: absolute;
    right: 50%; */
    background-color: #A3D3FF;
    /* Picture/Big */
}
